node_modules
.idea
results/*
package-lock.json
krakenghost/kraken-mobile-*.gem
krakenghost/example
krakenghost/Gemfile.lock
krakenghost/.byebug_history
krakenghost/.DS_Store
krakenghost/test_servers
krakenghost/reports

vtr/result/backstop/backstop_data/bitmaps_reference/*
vtr/result/backstop/backstop_data/bitmaps_test/*
vtr/result/backstop/backstop_data/html_report/*